html:not(.touchmode) ::-webkit-scrollbar {
    width: 10px;
}
html:not(.touchmode) ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
html:not(.touchmode) ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px transparent;
}
  

.front_body{}
.main_body{position:relative;overflow:hidden;}
.page_wrap{}
.page_header{position:fixed;top:0;left:0;width:100%;z-index:20;}
.nav_group{}
.nav_top_list_zone{}
.nav_top_list_wrap{display:flex; justify-content: space-between; align-items: center;min-height:120px;box-sizing: border-box;padding:0 112px;border-bottom:1px solid rgba(255,255,255,.08)}
.nav_top_logo{}
.nav_top_logo_link{display:inline-block;width:140px;height:67px; background:url("../images/toplogo.svg") no-repeat 0 0/100% auto;}
.nav_top_list_group{}
.nav_top_list{display:flex;justify-content: flex-end; align-items: center; gap:60px;}
.nav_top_list > li{}
.nav_top_item{display:inline-block; color:#fff; font-size:20px; font-weight:700;transition:.4s;}
.nav_top_item:hover,
.nav_top_item.active{color:rgba(0,0,0,1)}

.nav_top_list_zone.skin2 .nav_top_list_wrap{border-bottom-color:rgba(0,0,0,.08)}
.nav_top_list_zone.skin2 .nav_top_logo_link{background-image:url("../images/toplogo2.svg");}
.nav_top_list_zone.skin2 .nav_top_list{}
.nav_top_list_zone.skin2 .nav_top_item{color:rgba(0,0,0,.4)}
.nav_top_list_zone.skin2 .nav_top_item:hover,
.nav_top_list_zone.skin2 .nav_top_item.active{color:rgba(0,0,0,1)}


.nav_bottom_list_zone{position:fixed;bottom:60px;left:50%; transform: translateX(-50%); display:none;}
.nav_bottom_list_wrap{}
.nav_bottom_list_group{display:flex;justify-content: center;}
.nav_bottom_list{display:flex;border-radius:100px;justify-content: center; align-items: center; gap:60px;border:1px solid rgba(0,0,0,.12);padding:24px 60px;background-color:rgba(255,255,255,.4)}
.nav_bottom_list > li{}
.nav_bottom_item{display:inline-block; color:rgba(0,0,0,.4); font-size:20px; font-weight:700; transition:.4s;white-space: nowrap;}
.nav_bottom_item:hover,
.nav_bottom_item.active{color:rgba(0,0,0,1)}

.page_main{}

.main_swpier_container.swiper{}
.main_swpier_container.swiper .swiper-wrapper{}
.main_swpier_container.swiper .swiper-slide{}
.main_scene{}
.parking_scene{display:flex;align-items: center; justify-content: center; min-height:100vh;}
.main_scene.scroll_mc .scene_contents{}
.main_scene .bg{position:absolute;top:0;left:0;width:100%;height:100%;}
.scene_contents{width:100%;box-sizing: border-box; text-align: center;position:relative;overflow:hidden;overflow-y:auto;height:100vh;}
.main_scene.mc_01{}
.main_scene.mc_01 .bg{background-color:#1d60e3;}
.main_scene.mc_01 .bg:before,
.main_scene.mc_01 .bg:after{display:block;content:'';width:50%;height:100%;position:absolute;top:0;background-position:0 0;background-repeat:no-repeat;background-size:100% auto;}
.main_scene.mc_01 .bg:before{left:0;background-image:url("../images/bg_scene_top_01.jpg");}
.main_scene.mc_01 .bg:after{right:0;background-image:url("../images/bg_scene_top_02.jpg");background-position:0 100%;}
.main_scene.mc_01 .scene_contents{}
.main_scene.mc_02{}
.main_scene.mc_02 .bg{}
.main_scene.mc_02 .scene_contents{}
.main_scene.mc_03{}
.main_scene.mc_03 .bg{background-color:#2965DF;}
.main_scene.mc_03 .scene_contents{}
.main_scene.mc_04{}
.main_scene.mc_04 .bg{}
.main_scene.mc_04 .scene_contents{}
.main_scene.mc_05{}
.main_scene.mc_05 .bg{background:#FFC700 url("../images/bg_scene_yellow_01.jpg") no-repeat 100% 0/auto 100%;}
.main_scene.mc_05 .scene_contents{}
.main_scene.mc_06{}
.main_scene.mc_06 .bg{background:#FFC700 url("../images/bg_scene_yellow_02.jpg") no-repeat 0 50%/cover;}
.main_scene.mc_06 .scene_contents{}
.main_scene.mc_07{}
.main_scene.mc_07 .bg{}
.main_scene.mc_07 .scene_contents{}
.main_scene.mc_08{}
.main_scene.mc_08 .bg{background-color:#231F20;}
.main_scene.mc_08 .scene_contents{}
.main_scene.mc_09{}
.main_scene.mc_09 .bg{}
.main_scene.mc_09 .scene_contents{}

.btn_bottom_scroll_wrap{position:fixed;bottom:80px;left:50%;transform: translateX(-50%); z-index:5;}
.btn_bottom_scroll{display:flex; box-sizing: border-box; justify-content: center;align-items: center;border:1px solid #fff; border-radius:100%;width:72px;height:72px;}
.btn_bottom_scroll:after{display:block;content:'';width:34px;height:30px;background:url("../images/scroll_pointer.svg") no-repeat 50% 50%/100% auto;}
.btn_top_scroll_wrap{z-index:5;position:fixed;bottom:60px;right:60px;display:none;}
.btn_top_scroll{background:rgba(255,255,255,.4); box-sizing: border-box; display:flex; justify-content: center;align-items: center;border:1px solid rgba(0,0,0,.4); border-radius:100%;width:72px;height:72px;}
.btn_top_scroll:after{display:block;content:'';width:34px;height:30px;background:url("../images/scroll_pointer2.svg") no-repeat 50% 50%/100% auto;}

.scene_contents_inner{display:flex; flex-direction: column; justify-content: center; align-items: center; min-height:100vh; padding:120px 30px 120px; box-sizing: border-box;}
.scene_form_container{}
.scene_form_title_row{text-align: center;}
.scene_form_title_obj_row{text-align: center; display:flex; justify-content: center; margin-bottom:10px;}
.scene_form_title_obj_row .ico{display:inline-block; width:40px; height:40px; background-repeat:no-repeat; background-size:100% auto; background-position:0 0;}
.scene_form_title_obj_row .ico.ico_dot{background-image:url("../images/pointer_contact.svg");}
.scene_form_title{}
.scene_form_title .ico{}
.scene_form_title .ico.ico_contact{}
.scene_form_title_text{font-size:56px; color:#000000; font-weight:700; line-height:1; display:inline-block; letter-spacing: -1px;}
.scene_form_title_sub{font-size:16px; color:#555555; margin-top:10px; text-align: center;}

.scene_form_contents_row{margin-top:48px;}
.scene_form_tb_wrap{}
.scene_form_tb,
.scene_form_tr{display:flex;gap:20px;}
.scene_form_tb{flex-direction: column;}
.scene_form_tr{}
.scene_form_item{flex:1; border:1px solid rgba(0,0,0,.4); border-radius: 12px; display:flex; align-items: center; gap:10px;}
.scene_form_item.type2{}
.scene_form_item.type2 .scene_form_key_cols{}
.scene_form_item.type2 .sf_key_label{}
.scene_form_item.type2 .sf_imp{}
.scene_form_item.type2 .scene_form_value_cols{}
.scene_form_item.type2 textarea.sf_ta{}
.scene_form_key_cols{}
.sf_key_label{}
.sf_imp{}
.scene_form_value_cols{}
input.sf_input{}
.btn_form_submit_wrap{}
.btn_form_submit{}


@media (max-width:1023px){
    .nav_top_list_wrap{display:none;}
    /* .main_scene.mc_01 .bg{background:#1d60e3;display:flex;flex-direction: column; justify-content: space-between;}
    .main_scene.mc_01 .bg:before,
    .main_scene.mc_01 .bg:after{position:static;width:100%;height:50%;}
    .main_scene.mc_01 .bg:before{background-image:url("../images/bg_scene_top_mb_01.jpg");}
    .main_scene.mc_01 .bg:after{background-image:url("../images/bg_scene_top_mb_02.jpg");background-position:100% 100%;} */


    .btn_bottom_scroll_wrap{bottom:40px;}
    .btn_top_scroll,
    .btn_bottom_scroll{width:40px;height:40px;}
    .btn_top_scroll:after,
    .btn_bottom_scroll:after{width:14.72px;height:16.48px;}

    .btn_top_scroll_wrap{right:20px;bottom:96px;}

    .nav_bottom_list_zone{bottom:40px;left:20px;transform: translateX(0);width:calc(100% - 40px);}
    .nav_bottom_list_group{
       border-radius:100px; position:relative; overflow:hidden; overflow-x:auto; height:40px; border:1px solid rgba(0,0,0,.12);background-color:rgba(255,255,255,.4)
    }
    .nav_bottom_list_group::-webkit-scrollbar{display:none;}
    .nav_bottom_list{gap:10px;border-radius:0;border:0;padding:0 15px;justify-content: flex-start;background:none;}
    .nav_bottom_item{font-size:12px;}
}
@media (max-width:767px){
    .main_scene.mc_01 .bg{background:#1d60e3;display:flex;flex-direction: column; justify-content: space-between;}
    .main_scene.mc_01 .bg:before,
    .main_scene.mc_01 .bg:after{position:static;width:100%;height:50%;}
    .main_scene.mc_01 .bg:before{background-image:url("../images/bg_scene_top_mb_01.jpg");}
    .main_scene.mc_01 .bg:after{background-image:url("../images/bg_scene_top_mb_02.jpg");background-position:100% 100%;}
}

@media (max-width:767px) and (orientation: landscape){
    .main_scene.mc_01 .bg:before,
    .main_scene.mc_01 .bg:after{background-size:auto 100%;}
}