html:not(.touchmode) ::-webkit-scrollbar {
    width: 10px;
}
html:not(.touchmode) ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
html:not(.touchmode) ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px transparent;
}



.front_body{}
.main_body{position:relative;overflow:hidden;}
