html:not(.touchmode) ::-webkit-scrollbar {
    width: 10px;
}
html:not(.touchmode) ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
html:not(.touchmode) ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px transparent;
}


.page_wrap {
    min-height: calc(var(--vh, 1vh) * 100); min-width:280px; position:relative;
}
.swiper.main_swpier_container {
    height: calc(var(--vh, 1vh) * 100);
}
.front_body.main {
  overflow: hidden; position:relative;
}
  .front_body.main .header_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .page_wrap {
    min-width: 280px; /* display:flex;flex-direction: column; */ /* overflow-x:hidden; */
    position: relative; /* min-height:100vh; */
  }
  
  /* main */
  html.mainfront, html.mainfront body {
    height: 100%;
  }
  html.mainfront .page_wrap {
    min-height: calc(var(--vh, 1vh) * 100);
  }
  
  .swiper.mv_container {
    height: calc(var(--vh, 1vh) * 100);
  }
  .swiper.mv_container > .swiper-wrapper > .swiper-slide {
    position: relative;
    overflow: hidden;
  }
  
  .main_scene {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(var(--vh, 1vh) * 100);
  }
  

.swiper.main_swpier_container .swiper-slide{position:relative;overflow:hidden;}


.main_body{position:relative;overflow:hidden;}


.main_scene{position:relative;display:flex;align-items: center;justify-content: center;min-height:100vh;}
.main_scene .bg{display:block;width:100%;height:100%;position:absolute;top:0;left:0;}
.scene_contents{position:relative;}
.main_scene.mc_01 .bg{background-color:#1E60E4;}
.main_scene.mc_02 .bg{background-color:#fff;}
.main_scene.mc_03 .bg,
.main_scene.mc_04 .bg{background-color:#2965DF;}
.main_scene.mc_05 .bg{background-color:#fff;}
.main_scene.mc_06 .bg,
.main_scene.mc_07 .bg{background-color:#FFC700;}
.main_scene.mc_08 .bg{background-color:#fff;}
.main_scene.mc_09 .bg{background-color:#000;}
.main_scene.mc_10 .bg,
.main_scene.mc_11 .bg{background-color:#fff;} 


/* scroll mode */

.front_body.main.scroll_mode{
  overflow: visible;
}
.front_body.main.scroll_mode .mv_container{height:auto !important;}
.front_body.main.scroll_mode .swiper-wrapper{height:auto !important; transform:none !important;}
.front_body.main.scroll_mode .swiper-slide{overflow: visible !important;}
.front_body.main.scroll_mode .main_scene{height:auto !important;}